/*--- ABOUT ---*/
body {
    scroll-snap-type: y proximity;
    overflow-y: scroll;
}

header {
    scroll-snap-align: end;
    scroll-snap-stop: always;
}

main {
    position: relative;
    height: 230vh;
    padding-top: 7rem;
    scroll-snap-align: end;
    scroll-snap-stop: always;
}


footer {
    scroll-snap-align: end;
    scroll-snap-stop: always;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    border: 1px solid black;
    width: 12rem;
    height: 12rem;
}

.img-container img {
    max-width: 100%;
    border-radius: 3rem;
}

.about__content {
    padding: 2rem 0;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid var(--black);
    border-radius: 2rem;
    margin-bottom: .5rem;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

.about__content.--bg-change {
    background: rgba(0, 0, 0, 0.5);
    color: var(--white);
    border: 1px solid var(--white);
}

.about__intro {
    flex-direction: column;
    margin: 1rem;
}

.about__intro .drop-shadow {
    text-shadow: 4px -3px var(--orange);
    margin-bottom: unset;
    right: 0;
    font-size: 1.6rem
}

.text-reveal span {
    mix-blend-mode: unset;
    color: unset;
}

.text-reveal {
    height: 2.5rem;
}

.about__intro .drop-shadow.--bg-change {
    text-shadow: 4px -3px var(--neon-green);
}

.about__desc {
    line-height: 1.85;
    margin: 1rem;
}

.skills__title {
    margin-top: 28vmin;
    background-image: url(../../images/skills.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 12vmin;
    pointer-events: none;
}

.matter-container {
    width: 100%;
    height: auto;
    position: absolute;
    bottom: -8px;
}


.matter-container h2 {
    text-align: center;
    color: var(--white);
    background-color: var(--black);
    margin-bottom: unset;
}

@media screen and (min-width: 576px) {

    .img-container {
        margin-bottom: 1rem;
        width: 15rem;
        height: 15rem;
    }

    .about__intro .drop-shadow {
        font-size: 2.3rem;
    }

    .skills__title {
        height: 4rem;
    }

    .text-reveal {
        height: 4rem;
    }

}

@media screen and (max-height: 600px) {
    main {
        height: 260vh;
    }

    .text-reveal {
        height: 2.2rem;
    }
}

@media screen and (min-width: 768px) {

    .img-container {
        margin-bottom: 1.5rem;
        width: 17rem;
        height: 17rem;
    }

    .about__intro {
        margin: 2rem;
    }

    .about__intro .drop-shadow {
        font-size: 2.8rem;
    }

    .about__desc {
        margin: 2rem;
    }

    .skills__title {
        height: 12vmin;
    }
}

@media screen and (min-width: 1024px) {
    .img-container {
        width: 23rem;
        height: 23rem;
    }

    .skills__title {
        height: 14vmin;
    }
}