.footer {
    position: relative;
    font-size: 1.1rem;
    padding-top: 6rem;
    padding-bottom: 3rem;
    background: var(--yellow);
    line-height: 1.6;
    color: black;
}

.footer a {
    color: black;
}

.footer__content {
    flex-direction: column;
}

.footer__copy {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer__back-to-top {
    cursor: pointer;
}

@media screen and (min-width: 576px) {
    .footer {
        padding-top: 7rem;
    }

    .footer__content {
        justify-content: space-between;
        align-items: end;
        flex-direction: unset;
    }

}

@media screen and (max-height: 600px) {
    .h4 {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 768px) {
    .footer {
        padding-top: 13rem;
    }
}


@media screen and (min-width: 1024px) {
    .footer {
        padding-top: 10rem;
    }


}