/* Mobile Header */

.header {
    position: relative;
}

.main-nav--mobile {
    position: fixed;
    background-color: var(--white);
    width: 7rem;
    height: 3.2rem;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 7rem;
    margin: 2rem auto 0 auto;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
}

.main-nav__logo a {
    display: block;
}

.main-nav__logo svg {
    width: 2rem;
    padding-top: 3px;
    padding-left: 4px;
}

.menu__hamburger {
    overflow: hidden;
    margin: auto;
    width: 2rem;
    height: 2rem;
    background: none;
    cursor: pointer;
    z-index: 1000;
}

.hamburger {
    display: block;
    position: absolute;
    width: 1.5em;
    height: 0.2em;
    border-radius: 1rem;
    margin: 0.3em 0;
    background-color: var(--orange);
    color: var(--black);
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.hamburger.--bg-change {
    background-color: var(--neon-green);
}

.hamburger:first-child {
    top: .5rem;
}

.hamburger:nth-last-child(2) {
    transition: visibility, position 0.1s, background-color 0.4s;
    -moz-transition: visibility, position 0.1s, background-color 0.4s;
    -webkit-transition: visibility, position 0.1s, background-color 0.4s;
    top: 1.1rem;
}

.hamburger:last-child {
    top: 1.7rem;
}

.active.hamburger {
    width: 1.8rem;
    border-radius: 1rem;
    background: var(--orange);
}

.active.hamburger:first-child {
    transform: rotate(45deg);
    top: 1rem;
}

.active.hamburger:nth-last-child(2) {
    visibility: hidden;
}

.active.hamburger:last-child {
    transform: rotate(-45deg);
    top: 1rem;
}

#js-menu-open {
    cursor: pointer;
}

.js-menu {
    width: 250vw;
    height: 250vh;
    background: var(--yellow);
    position: fixed;
    opacity: 1;
    z-index: 999;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 3rem;
    transition: opacity 1s, width .8s, height 0.7s;
    -moz-transition: opacity 1s, width .8s, height 0.7s;
    -webkit-transition: opacity 1s, width .8s, height 0.7s;
}

.js-menu--hidden {
    opacity: 0;
    width: 25px;
    height: 25px;
}

.main-nav__list {
    position: fixed;
    font-family: var(--sans-serif-1);
    top: 27%;
    left: 40%;
    height: 100px;
    font-size: 2rem;
    opacity: 1;
    transform: translateY(0);
    z-index: 999;
}

.main-nav__list li {
    margin-bottom: 1.2rem;
}

.main-nav__list--hidden {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1.5rem);
}

.main-nav__list a {
    text-decoration: none;
    color: var(--black);
}

.main-nav__list a:hover,
.main-nav__list a:active {
    box-shadow: unset;
    transform: translate(2px, 6px);
}

/* Desktop Header */
.desktop__menu-logo svg {
    width: 3rem;
}

.main-nav--desktop {
    padding: 2rem;
    position: fixed;
    width: 100%;
    z-index: 99;
    mix-blend-mode: difference;
    pointer-events: none;
}

.main-nav--desktop a {
    color: white;
    pointer-events: all;
}

.menu--desktop {
    display: none;
}

@media screen and (min-width:576px) {
    .main-nav__list {
        top: 29%;
        left: 45%;
    }
}

@media screen and (min-width:768px) {
    .main-nav__list {
        top: 29%;
        left: 45%;
        font-size: 3rem;
    }

}

@media screen and (min-width: 1024px) {
    .menu--mobile {
        display: none;
    }

    .menu--desktop {
        display: block;
    }

}