/* Home__main */
.matter-container--home {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
    overflow: hidden;
}

.title {
    padding: 0 .9rem;
}

h3 {
    font-family: var(--sans-serif-2);
}

.p {
    line-height: unset;
    font-size: 4.5vmin;
}

.home__content {
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home__title {
    flex-direction: column;
}

.border {
    border: 2px solid white;
    border-radius: 5rem;
    padding: .3rem;
    background: #2b00f9;
}

.home__title span {
    mix-blend-mode: difference;
    color: white;
}

.home__desc {
    height: 100vh;
    padding: 5rem 0;

}

.desc__card h2 {
    font-size: 1.1rem;
    mix-blend-mode: difference;
    color: #e9fbcf;
    text-transform: uppercase;
}

.desc__h2 {
    font-family: var(--sans-serif-2);
    padding: .5rem 0;
    display: block;
    font-weight: 300;
}

.desc__card {
    width: 80vmin;
    height: 80vmin;
    border-radius: 25rem;
    padding: 1rem;
    background: var(--yellow-invert);
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;
    mix-blend-mode: difference;
    border: 1px solid var(--white);
}

.desc__card-anim span {
    white-space: nowrap;
    animation: textAnim 15s infinite linear;
    padding: 0 1rem;
}

@keyframes textAnim {
    100% {
        transform: translateX(-100%);
    }
}

.drop-shadow {
    text-align: center;
    text-shadow: 2px -1px #ffe300;
    font-weight: 800;
    mix-blend-mode: difference;
    color: #0087ff;
    margin-right: 2rem;
    font-size: 3.5rem;
    position: relative;
    z-index: 1;
}

.projects__cards ul {
    gap: unset;
}

.card {
    grid-column: span 12 / auto;
    display: flex;
    align-items: center;
    height: 8rem;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid var(--black);
    border-radius: 2rem;
    margin-bottom: .5rem;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.card__content {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 1.5rem;
}

.card__title {
    max-width: 70%;
}


.card__btn {
    max-width: 30%;
}

@media screen and (min-width: 576px) {

    h3 {
        font-size: 1.4rem;
    }

    .title {
        padding: 0 2rem;
    }

    .desc__card h2 {
        font-size: 1.5rem;
    }


}

@media screen and (min-width: 768px) {
    .desc__card h2 {
        font-size: 2rem;
    }

    .drop-shadow {
        font-size: 4.5rem;
    }

    .projects__cards ul {
        gap: 1rem;
    }

    .card {
        margin-bottom: unset;
        grid-column: span 6 / auto;
        height: 48vmin;
    }
}