/* Home__main */
.home__main {
    padding-bottom: 6rem;
}

.matter-container--home {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
    overflow: hidden;
}

.title {
    padding: 0 .9rem;
}

/* h3 {
    font-family: var(--sans-serif-2);
} */

.text-reveal {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 4.5rem;
}

.text-reveal span {
    mix-blend-mode: difference;
    color: white;
    pointer-events: none;
    position: absolute;
}

.desc__h2 {
    font-size: 1.9rem;
    font-family: var(--sans-serif-2);
    font-weight: 300;
}

.wonder__circle {
    width: 90vmin;
    height: 90vmin;
    background: var(--neon-green-invert);
    transform: scale(0);
    border-radius: 50%;
    margin: 0 auto;
    border: 1px solid var(--white);
    mix-blend-mode: difference;
    position: absolute;
}

.home__color img {
    width: 3rem;
}

.home__color span {
    font-size: 0.8rem;
    min-width: 5rem;
    padding-top: .5rem;
}

.wonder__circle-text {
    text-align: center;
    text-shadow: 2px -1px black;
    font-weight: 800;
    color: var(--orange);
    font-size: 2.5rem;
    position: relative;
    z-index: 1;
}

.wonder__circle-text span {
    display: inline-block;
}

.home__projects--mobile,
.home__projects--desktop {
    border: 1px solid var(--black);
    border-bottom: unset;
    background: #fffbf2;
    padding: 4rem 0;
}

.projects__cards ul {
    gap: unset;
}

.card {
    grid-column: auto / span 12;
    display: flex;
    align-items: center;
    height: 8rem;
    background: var(--white);
    border: 1px solid var(--black);
    border-radius: 2rem;
    margin-bottom: .5rem;
}

.card__content {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 1.5rem;
}

.card__title {
    max-width: 70%;
}


.card__btn {
    max-width: 30%;
}

.home__projects--desktop {
    display: none;
}


.drag-n-drop {
    font-family: var(--sans-serif-1);
    height: 100vh;
    position: relative;
}

.note-drag-n-drop {
    background: url(../../images/note.jpeg);
}

.gallery-drag-n-drop {
    background: url(../../images/gallery.jpeg);
}

.note-drag-n-drop,
.gallery-drag-n-drop {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 16rem;
    height: 16rem;
}

.drop-spot {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16rem;
    height: 16rem;
    background: var(--orange);
    color: var(--white);
    padding: 0 6rem;
    text-align: center;
}

.drop-spot.drag-over {
    background: var(--light-orange);
}


@media screen and (min-width: 576px) {
    .title {
        padding: 0 2rem;
    }

    .text-reveal {
        height: 6rem;
    }

    .desc__h2 {
        font-size: 2.3rem;
    }

    .wonder__circle-text {
        font-size: 4rem;
    }

    .home__color img {
        width: 4.5rem;
    }

    .home__color span {
        font-size: 1.2rem;
    }
}

@media screen and (max-height: 600px) {

    .text-reveal {
        height: 4rem;
    }


    .wonder__circle-text {
        font-size: 2.3rem;
    }


}

@media screen and (min-width: 768px) {

    .container {
        padding: 0 2rem;
    }

    .text-reveal {
        height: 7.5rem;
    }

    .desc__h2 {
        font-size: 2.7em;
    }

    .wonder__circle {
        width: 70vmin;
        height: 70vmin;
    }

    .wonder__circle-text {
        font-size: 5rem;
    }

    .home__color img {
        width: 5rem;
    }

    .home__color span {
        font-size: 1.2rem;
    }

    .projects__cards ul {
        gap: 1rem;
    }

    .cards {
        margin: 2rem;
    }

    .card {
        margin-bottom: unset;
        grid-column: span 6 / auto;
        padding: 10rem 0;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        overflow: visible;
    }

    .wonder__circle {
        width: 60vmin;
        height: 60vmin;
    }


    .wonder__circle-text {
        font-size: 5.5rem;
    }

    .projects__cards ul {
        gap: 1rem;
    }

    .card {
        margin-bottom: unset;
        grid-column: span 6 / auto;
        height: 48vmin;
    }

    .home__projects--mobile {
        display: none;
    }

    .home__projects--desktop {
        display: block;
    }
}