/* Home__main */
.matter-container--home {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.container {
    overflow: hidden;
}

.title {
    padding: 0 .9rem;
}

h3 {
    font-family: var(--sans-serif-2);
}

.p {
    line-height: unset;
    font-size: 4.5vmin;
}

.symbol {
    right: 0;
    color: var(--white);
    font-size: 9vmin;
    width: 17.5vmin;
    height: 17.5vmin;
    background: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    transform-style: preserve-3d;
    animation: spin 5s linear infinite;
    border: 1px solid white;
}

.symbol::before {
    background: black;
    position: absolute;
    border-radius: 50%;
    content: '</>';
    height: 17.2vmin;
    width: 17.2vmin;
    transform: translateZ(-3.7vmin);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    /* mix-blend-mode: difference; */
}


.symbol::after {
    background: white;
    content: '';
    left: 30%;
    position: absolute;
    height: 18vmin;
    width: 3.7vmin;
    transform: rotateY(-90deg);
    transform-origin: 100% 50%;
}

.symbol-inner {
    background: white;
    position: absolute;
    border-radius: 50%;
    content: '';
    height: 18vmin;
    width: 18vmin;
    transform: translateZ(-3.65vmin);
}

.symbol-inner-2 {
    background: white;
    position: absolute;
    border-radius: 50%;
    content: '';
    height: 18vmin;
    width: 18vmin;
    transform: translateZ(-0.1vmin);
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}


.home__content {
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.home__title {
    flex-direction: column;
}

.home__title span {
    mix-blend-mode: difference;
    color: white;
}

.home__desc {
    margin: 4rem 0;
}

.home__strive {
    height: 90vh;
    display: flex;
    align-items: flex-end;
    position: relative;
}

.desc__p span {
    font-size: 1.5rem;
    font-family: var(--sans-serif-2);
    display: inline-block;
}

.desc__h2 {
    font-family: var(--sans-serif-2);
    /* padding: .5rem 0; */
    font-weight: 300;
    display: block;
}

.desc__circle {
    width: 90vmin;
    height: 90vmin;
    transform: scale(0);
    border-radius: 50%;
    margin: 0 auto;
    mix-blend-mode: difference;
    border: 1px solid var(--white);
    position: absolute;
}


.desc__circle-text span {

    white-space: nowrap;
    animation: textAnim 25s infinite linear;
    padding: 0 1rem;
    transform: translateX(-300%);
}

@keyframes textAnim {
    100% {
        transform: translateX(-400%);
    }
}

.desc__content {
    margin-top: 4rem;
}

.desc__logo {
    margin-top: 3rem;
}

.desc__logo img {
    width: 3rem;
}

.desc__logo span {
    font-size: 0.8rem;
    min-width: 5rem;
    padding-top: .5rem;
}

.drop-shadow {
    text-align: center;
    text-shadow: 2px -1px white;
    font-weight: 800;
    mix-blend-mode: difference;
    color: var(--orange-invert);
    margin-right: 2rem;
    font-size: 3.5rem;
    position: relative;
    z-index: 1;
}

.home__projects {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background: #fff9ee;
    padding: 4rem 0;
    border: 1px solid black;
    border-bottom: unset;
}

.projects__cards ul {
    gap: unset;
}

.card {
    grid-column: span 12 / auto;
    display: flex;
    align-items: center;
    height: 8rem;
    background: var(--white);
    border: 1px solid var(--black);
    border-radius: 2rem;
    margin-bottom: .5rem;
}

.card__content {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 1.5rem;
}

.card__title {
    max-width: 70%;
}


.card__btn {
    max-width: 30%;
}

@media screen and (min-width: 576px) {



    h3 {
        font-size: 1.4rem;
    }

    .title {
        padding: 0 2rem;
    }

    .desc__p span {
        font-size: 1.6rem;
        font-family: var(--sans-serif-2);
        display: inline-block;
    }

    .drop-shadow {
        font-size: 4.5rem;
    }

    .desc__content {
        margin-top: 5rem;
    }

    .desc__logo img {
        width: 3.5rem;
    }
}

@media screen and (min-width: 768px) {

    .drop-shadow {
        font-size: 4.5rem;
    }

    .projects__cards ul {
        gap: 1rem;
    }

    .card {
        margin-bottom: unset;
        grid-column: span 6 / auto;
        height: 48vmin;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        overflow: visible;
    }

    .drop-shadow {
        font-size: 4.5rem;
    }

    .projects__cards ul {
        gap: 1rem;
    }

    .card {
        margin-bottom: unset;
        grid-column: span 6 / auto;
        height: 48vmin;
    }
}