/*--- WORK ---*/
.work__main {
    margin-top: 7rem;
    position: relative;
}

.work__card {
    height: 75vh;
    border: 1px solid #000000;
    border-radius: 2rem;
    overflow: hidden;
    padding: 4rem 1rem;
    position: sticky;
    margin-bottom: 100%;
    top: 15vh;
}

.work-card__subheading {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 1rem;
    display: inline-block;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.work-card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.work-card__title {
    font-family: var(--sans-serif-2);
    font-size: 3rem;
    width: 100%;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 1rem;
    white-space: nowrap;
}

.work__card video,
.work__card img {
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--black);
}


.wrap {
    flex-wrap: wrap;
}

.work__card .button {
    margin-right: .5rem;
    margin-bottom: .5rem;
    justify-content: center;
    width: auto;
    height: 18vmin;
    box-shadow: 2px 5px 0px var(--orange);
    padding: 1rem;
    border: 1px solid var(--black);
    line-height: 1.5;
    font-size: 3.5vmin;
}

.work__note-taking {
    background: #efefef;
    margin-bottom: 160%;
}

.work__symmetry {
    background: #fefaf2;
    margin-bottom: 145%;
}

.work__esnes {
    background: #c76d6d;
    margin-bottom: 130%;
}

.work__burgersquad {
    background: #15121f;
    margin-bottom: 115%;
}

.work__burgersquad .work-card__title,
.work__burgersquad .work-card__subheading {
    color: var(--white);
}

.about-footer {
    margin-top: unset;
}

.js-bottom-logo {
    width: 9rem;
    transform: translateX(-5rem);
    position: absolute;
    bottom: 0;
}