/*--- WORK ---*/
.work__main {
    margin-top: 7rem;
    position: relative;
}

.work__card {
    height: 75vh;
    border: 1px solid #000000;
    border-radius: 2rem;
    overflow: hidden;
    padding: 4rem 1rem;
    position: sticky;
    margin-bottom: 100%;
    top: 15vh;
    transition: all .3s ease-in-out;
    /* visibility: hidden; */
}

/* 
.work__card.work__card-hidden {
    visibility: hidden;
} */

.work-card__subheading {
    position: absolute;
    font-size: .9rem;
    width: 100%;
    top: 0;
    padding: .7rem 0 .5rem 1rem;
    display: inline-block;
    border-bottom: 1px solid black;
}

.work-card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

h3 {
    margin: unset;
}

.work-card__title span {
    font-family: var(--sans-serif-2);
    font-size: 7vmax;
    /* width: 100%; */
    font-style: italic;
    font-weight: 600;
    /* margin-bottom: 1rem; */
    white-space: nowrap;
    animation: loop 30s ease infinite;
    margin: unset;
}

@keyframes loop {
    100% {
        transform: translateX(-100%);
    }
}

.work__card video,
.work__card img {
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 1px solid var(--black);
}


.wrap {
    flex-wrap: wrap;
}

.work__card .button {
    margin-right: .5rem;
    margin-bottom: .5rem;
    justify-content: center;
    width: auto;
    height: 18vmin;
    box-shadow: 2px 5px 0px var(--orange);
    padding: 1rem;
    border: 1px solid var(--black);
    line-height: 1.5;
    font-size: 3.5vmin;
}

.work__note-taking {
    background: #efefef;
    margin-bottom: 160%;
}

/* .work__card.work__card-transition {
    width: 11rem;
    height: 11rem;
    border-radius: 50%;
    position: fixed;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: visible;
} */

/* .work__card.work__card-transition::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    background: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
} */

.work__symmetry {
    background: #fefaf2;
    margin-bottom: 145%;
}

.work__esnes {
    background: #c76d6d;
    margin-bottom: 130%;
}

.work__burgersquad {
    background: #15121f;
    margin-bottom: 115%;
}

.work__burgersquad .work-card__title,
.work__burgersquad .work-card__subheading {
    color: var(--white);
}

.about-footer {
    margin-top: unset;
}

.js-bottom-logo {
    width: 9rem;
    transform: translateX(-5rem);
    position: absolute;
    bottom: 0;
}