/*--- WORK ---*/
.work__main {
    margin-top: 7rem;
    position: relative;
}

.work__cards {
    position: relative;
    grid-column: auto / span 12;
}

.work__card {
    grid-column: auto / span 12;
    height: 75vh;
    border: 1px solid #000000;
    border-radius: 2rem;
    overflow: hidden;
    padding: 2rem 1rem;
    position: sticky;
    margin-bottom: 100%;
    top: 15vh;
    transition: all .3s ease-in-out;
}

.work-card__subheading {
    position: absolute;
    font-size: .9rem;
    width: 100%;
    top: 0;
    padding: .7rem 0 .5rem 1rem;
    display: inline-block;
    border-bottom: 0.5px solid rgb(229, 229, 229);
}

.work-card__content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

h3 {
    margin-top: 1rem;
}

.work-card__title span {
    font-family: var(--sans-serif-2);
    font-size: 7vmax;
    /* width: 100%; */
    font-style: italic;
    font-weight: 600;
    /* margin-bottom: 1rem; */
    white-space: nowrap;
    animation: loop 30s linear infinite;
    margin: unset;
}

@keyframes loop {
    100% {
        transform: translateX(-100%);
    }

}

.project__media {
    position: relative;
    overflow: hidden;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
}

.work__card video,
.work__card img {
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    max-width: 100%;
    aspect-ratio: auto;
}

.work__card .title {
    margin-right: .5rem;
    margin-bottom: .5rem;
    margin-left: unset;
    justify-content: center;
    width: auto;
    box-shadow: 2px 5px 0px var(--orange);
    padding: 1.3rem;
    border: 1px solid var(--black);
    line-height: 1.5;
    font-size: 3vmin;
}

.work__note-taking {
    background: #efefef;
    margin-bottom: 160%;
}

.work__symmetry {
    background: #fefaf2;
    margin-bottom: 145%;
}

.work__esnes {
    background: #c76d6d;
    margin-bottom: 130%;
}

.work__burgersquad {
    background: #15121f;
    margin-bottom: 115%;
}

.work__burgersquad .work-card__title,
.work__burgersquad .work-card__subheading,
.work__burgersquad .work-card__title-desktop {
    color: var(--white);
}

.about-footer {
    margin-top: unset;
}

.js-bottom-logo {
    width: 7.5rem;
    transform: translateX(-5rem);
    position: absolute;
    bottom: 0;
}

@media screen and (min-width: 576px) {
    .work-card__subheading {
        font-size: 1.2rem;
        padding: 1rem;
    }

    .work__card .button {
        padding: 1.7rem;
    }

    .js-bottom-logo {
        width: 9rem;
    }
}

@media screen and (min-width:768px) {
    .work__cards {
        grid-column: 2 / span 10;
    }

    .work__card {
        height: 70vh;
        overflow: hidden;
        top: 18vh;
    }

    .work__card .title {
        font-size: 2.4vmin;
    }

    .work__note-taking {
        background: #efefef;
        margin-bottom: 136%;
    }

    .work__symmetry {
        background: #fefaf2;
        margin-bottom: 124%;
    }

    .work__esnes {
        background: #c76d6d;
        margin-bottom: 112%;
    }

    .work__burgersquad {
        background: #15121f;
        margin-bottom: 100%;
    }

    .js-bottom-logo {
        width: 10rem;
    }
}

@media screen and (min-width:1024px) {
    .work__card {
        height: 75vh;
        top: 16vh;
    }

    .work__cards {
        grid-column: 2 / span 10;
    }

    .work-card__title {
        display: flex;
    }

    .work-card__title span {
        font-size: 5.5rem;
    }

    .project__media {
        padding-bottom: 2rem;
    }

    .work__card .button {
        font-size: 1.2rem;
    }

    .work__note-taking {
        background: #efefef;
        margin-bottom: 68%;
    }

    .work__symmetry {
        background: #fefaf2;
        margin-bottom: 62%;
    }

    .work__esnes {
        background: #c76d6d;
        margin-bottom: 56%;
    }

    .work__burgersquad {
        background: #15121f;
        margin-bottom: 50%;
    }

    .js-bottom-logo {
        width: 12rem;
    }
}