/* Note-taking Web Application Project */

.project__container {
    background-color: #efefef;
    max-width: 80rem;
}

.project__overview {
    border-bottom: 1px solid #7d7d7d;
    /* padding: 2rem 0; */
}

.justify {
    justify-content: space-around;
}

.project__cta {
    font-family: var(--sans-serif-1);
    height: unset;
    width: unset;
    padding: 1.5rem;
    margin: 4rem auto;
    box-shadow: 1px 3px 0px 0px var(--yellow);
    border-radius: 18rem;
    border: black 1px solid;
}

.project__image {
    grid-column: auto / span 12;
}

.align-center {
    align-self: center;
}

.js-slidein {
    height: 100vh;
}

.back__btn {
    position: fixed;
    top: 2rem;
    mix-blend-mode: difference;
    color: white;
}

a {
    color: inherit;
    background-color: transparent;
}

.button-sm {
    color: unset;
    border: 1px solid white;
    box-shadow: 2px 4px 0px 0px #009cff;
}

.back__btn i {
    transform: rotate(-180deg);
}

video {
    max-width: 100%;
    border-radius: 1rem;
    border: 1px solid var(--black);
    width: 100%;
}

.js-video.loading {
    background-color: bisque;
}

.title-sm {
    font-family: var(--sans-serif-1);
    font-size: .6rem;
    box-shadow: 2px 4px 0px 0px var(--orange);
    height: auto;
    width: auto;
    padding: 1rem 2rem;
    margin: unset;
}

.project__process {
    margin: 3rem 0;
}

img {
    max-width: 100%;
    margin: 1rem 0;
    border: 1px solid var(--black);
    border-radius: 2rem;
}

.project__symmetry {
    margin: 0 auto;
    max-width: 80rem;
    background-color: #fefaf2;
}

@media screen and (min-width: 576px) {
    .title-sm {
        font-size: .9rem;
    }

    .project__cta {
        margin-right: 1rem;
    }

    .justify {
        justify-content: flex-end;
    }
}

@media screen and (max-height: 600px) {

    .project__cta {
        padding: .8rem;
    }
}

@media screen and (min-width: 768px) {
    /* .container {
        padding: 0 2rem;
    } */

    .title-sm {
        font-size: 1.1rem;
    }

    .project__video,
    .project__image {
        grid-column: 2 / span 10;
    }

    .project__cta {
        padding: 1.3rem;
    }
}

@media screen and (min-width: 1024px) {
    .title-sm {
        font-size: 1.2rem;
    }

    .back__btn {
        display: none;
    }
}