@use '../../styles/abstracts' as *;

.card {
    position: relative;
    @include flex(flex-start, center, column);
    @include block($color-primary-light, $color-primary-dark);
    @include gridCol(1, 12);
    padding: 0 1.5rem;
    
    @include mq(small) {
        padding: 0 2.5rem;
    }

    @include mq(medium) {
        padding: 0 4.5rem;
    }

    @include mq(large) {
        padding: 0 5.5rem;
    }
}

.preview {
    @include grid;
    width: 100%;


    h4 {
        font-weight: 500;
    }

    img {
        max-width: 42rem;
        margin-bottom: 1.5rem;
        @include gridCol(auto, 12);
        align-self: center;
        justify-self: center;
        @include mq(large){
            max-width: 90%;
            margin-bottom: unset;
            @include gridCol(auto, 6);
        }
      
    }

}

.content {
    @include gridCol(auto, 12);

    @include mq(large){
        align-self: self-end;
        padding-left: 1.5rem;
        @include gridCol(7, 6);
    }
}

.discipline {
    margin-bottom: 1rem;
    @include stackList;
}

.description {
    margin-bottom: 1.5rem;
} 