@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.cdnfonts.com/css/dm-sans');

:root {
    --orange: #ff6300;
    --orange-invert: #009cff;
    --light-orange: #ff883c;
    --neon-green: #e4ff5e;
    --neon-green-invert: #1b00a1;
    --yellow: #ffaf42;
    --yellow-invert: #0050bd;
    --white: #fff;
    --black: #000000;
    --sans-serif-1: 'Michroma', sans-serif;
    --sans-serif-2: 'DM Sans', sans-serif;
}

::selection {
    background: var(--yellow);
}

/* Typography */

* {
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h6,
span {
    font-family: var(--sans-serif-1);
    /* margin-bottom: 0.5rem; */
}

.h5,
p,
.p {
    font-family: var(--sans-serif-2);
}

h1,
.h1 {
    font-size: 12vmin;
    font-weight: 800;
}

h2,
.h2 {
    font-size: 2rem;
}

h3,
.h3 {
    font-size: 1.3rem;
}

h4,
.h4 {
    font-size: 1.333rem;
}

h5,
.h5 {
    font-size: 1.25rem;
    font-weight: 300;
}

h6,
.h6 {
    font-size: 1.2rem
}

p,
.p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.7;
}

a {
    text-decoration: none;
    color: var(--black);
}

/* Layout */

body {
    background: url(../images/mobile-bg.svg);
    background-repeat: repeat;
    background-color: white;
    transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    -webkit-transition: background-color 0.4s ease-in-out;

}

body.--bg-change {
    background-color: var(--black);
}

#main {
    padding-bottom: 2rem;
}

.no-scroll {
    overflow: hidden;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}

section {
    height: 100%;
    z-index: 990;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.flex {
    display: flex;
}

.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

.col-5 {
    grid-column: span 5;
}

.col-6 {
    grid-column: span 6;
}

.col-7 {
    grid-column: span 7;
}

.col-8 {
    grid-column: span 8;
}

.col-9 {
    grid-column: span 9;
}

.col-10 {
    grid-column: span 10;
}

.col-11 {
    grid-column: span 11;
}

.col-12 {
    grid-column: span 12;
}

/* Helper classes */
.align-center {
    align-self: center;
}

.mx-auto {
    margin: 0 auto;
}

.ml-auto {
    margin-left: auto;
}

.z-index {
    z-index: 2;
    position: relative;
}

.text-right {
    text-align: right;
}

/* Header */
.header {
    position: relative;
}

.main-nav {
    position: fixed;
    background-color: var(--white);
    width: 7rem;
    height: 3.2rem;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 7rem;
    margin: 2rem auto 0 auto;
    z-index: 9999;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
}

.main-nav__logo a {
    display: block;
}

.main-nav__logo svg {
    width: 2rem;
    padding-top: 3px;
    padding-left: 4px;
}

.menu__hamburger {
    overflow: hidden;
    margin: auto;
    width: 2rem;
    height: 2rem;
    background: none;
    cursor: pointer;
    z-index: 1000;
}

.hamburger {
    display: block;
    position: absolute;
    width: 1.5em;
    height: 0.2em;
    border-radius: 1rem;
    margin: 0.3em 0;
    background-color: var(--orange);
    color: var(--black);
    transition: all 0.4s;
    -moz-transition: all 0.4s;
    -webkit-transition: all 0.4s;
}

.hamburger.--bg-change {
    background-color: var(--neon-green);
}

.hamburger:first-child {
    top: .5rem;
}

.hamburger:nth-last-child(2) {
    transition: visibility, position 0.1s, background-color 0.4s;
    -moz-transition: visibility, position 0.1s, background-color 0.4s;
    -webkit-transition: visibility, position 0.1s, background-color 0.4s;
    top: 1rem;
}

.hamburger:last-child {
    top: 1.5rem;
}

.active.hamburger {
    width: 1.8rem;
    border-radius: 1rem;
    background: var(--orange);
}

.active.hamburger:first-child {
    transform: rotate(45deg);
    top: 1rem;
}

.active.hamburger:nth-last-child(2) {
    visibility: hidden;
}

.active.hamburger:last-child {
    transform: rotate(-45deg);
    top: 1rem;
}

#js-menu-open {
    cursor: pointer;
}

.js-menu {
    width: 250vw;
    height: 250vh;
    background: var(--yellow);
    position: fixed;
    opacity: 1;
    z-index: 999;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 3rem;
    transition: opacity 1s, width .8s, height 0.7s;
    -moz-transition: opacity 1s, width .8s, height 0.7s;
    -webkit-transition: opacity 1s, width .8s, height 0.7s;
}

.js-menu--hidden {
    opacity: 0;
    width: 25px;
    height: 25px;
}

.main-nav__list {
    position: fixed;
    font-family: var(--sans-serif-1);
    top: 27%;
    left: 32%;
    height: 100px;
    font-size: 2rem;
    opacity: 1;
    transition: all .4s ease .5s;
    -moz-transition: all .4s ease .5s;
    -webkit-transition: all .4s ease .5s;
    transform: translateY(0);
    z-index: 999;
}

.main-nav__list li {
    margin-bottom: 1.2rem;
}

.main-nav__list--hidden {
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    transform: translateY(-1.5rem);
}

.main-nav__list a {
    text-decoration: none;
    color: var(--black);
}

.main-nav__list a:hover,
.main-nav__list a:active {
    box-shadow: unset;
    transform: translate(2px, 6px);
}

#js-navBar {
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
}

/* Components */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    height: 5.5rem;
    background-color: var(--white);
    box-shadow: 2px 6px 0px 0px #000000;
    border-radius: 18rem;
    border: black 2px solid;
}

.button-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 0px 0px #FD5602;
    width: 3.125rem;
    height: 3.125rem;
    border: 1px solid #000000;
    border-radius: 50%;
    text-decoration: none;
    color: var(--black);
}

.button-sm i {
    font-size: 1.5rem;
}

.button-sm:hover,
.button-sm:active {
    transform: translate(2px, 4px);
    box-shadow: unset;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 3.875rem;
    padding: 0 1rem;
    margin: 0 auto 1rem auto;
    box-shadow: 2px 5px 0px 0px var(--black);
    border: black 1px solid;
    background-color: var(--white);
    border-radius: 18rem;
}



/* Headings */



/* Featured Works - Drag And Drop */

.drag-n-drop {
    font-family: var(--sans-serif-1);
    height: 100vh;
    position: relative;
}

.note-drag-n-drop {
    background: url(../images/note.jpeg);
}

.gallery-drag-n-drop {
    background: url(../images/gallery.jpeg);
}

.esnes-drag-n-drop {
    background: url(../images/esnes.jpeg);
}

.burger-drag-n-drop {
    background: url(../images/burgers.jpeg);
}

.note-drag-n-drop,
.gallery-drag-n-drop,
.esnes-drag-n-drop,
.burger-drag-n-drop {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 16rem;
    height: 16rem;
}

.drop-spot {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16rem;
    height: 16rem;
    background: var(--orange);
    color: var(--white);
    padding: 0 6rem;
    text-align: center;
}

.drop-spot.drag-over {
    background: var(--light-orange);
}



@media screen and (min-width: 576px) {

    h2,
    .h2 {
        font-size: 2rem;
    }

    h3,
    .h3 {
        font-size: 2rem;
    }

    h4,
    .h4 {
        font-size: 1.777rem;
    }

    h5,
    .h5 {
        font-size: 1.5rem;
        font-weight: 300;
    }

    h6,
    .h6 {
        font-size: 1.2rem
    }

    p,
    .p {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.7;
    }

    .main-nav {
        width: 8rem;
        height: 4rem;
    }

    .main-nav__logo svg {
        width: 2.5rem;
    }

    .hamburger:first-child {
        top: .9rem;
    }

    .hamburger:nth-last-child(2) {
        top: 1.5rem;
    }

    .hamburger:last-child {
        top: 2.1rem;
    }

    .active.hamburger:first-child {
        top: 1.5rem;
    }

    .active.hamburger:last-child {
        top: 1.5rem;
    }

    .main-nav__list {
        top: 29%;
        left: 45%;
    }

    /* Components */
    .button {
        width: 16.5rem;
        height: 7.5rem;
    }

    .button-sm {
        width: 3.5rem;
        height: 3.5rem;
    }

    .button-sm i {
        font-size: 1.6rem;
    }

    .title {
        height: 4.875rem;
        padding: 0 2rem;
    }

    .card {
        height: 9.5rem;
    }

}

@media screen and (min-width: 768px) {

    h1,
    .h1 {
        font-size: 11vmin;
    }

    h2,
    .h2 {
        font-size: 2rem;
    }

    /* v */
    h3,
    .h3 {
        font-size: 2rem;
    }

    /* v */
    h4,
    .h4 {
        font-size: 2rem;
    }

    h5,
    .h5 {
        font-size: 1.8rem;
        font-weight: 300;
    }

    h6,
    .h6 {
        font-size: 1.2rem
    }

    p,
    .p {
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1.7;
    }

    .main-nav {
        width: 8rem;
        height: 4rem;
    }

    .main-nav__logo svg {
        width: 2.5rem;
    }

    .hamburger:first-child {
        top: .9rem;
    }

    .hamburger:nth-last-child(2) {
        top: 1.5rem;
    }

    .hamburger:last-child {
        top: 2.1rem;
    }

    .active.hamburger:first-child {
        top: 1.5rem;
    }

    .active.hamburger:last-child {
        top: 1.5rem;
    }

    .main-nav__list {
        top: 29%;
        left: 45%;
        font-size: 3rem;
    }

    /* Components */
    .button {
        width: 19.5rem;
        height: 9.5rem;
    }

    .button-sm {
        width: 4.5rem;
        height: 4.5rem;
    }

    .button-sm i {
        font-size: 1.6rem;
    }

    .title {
        height: 4.875rem;
        padding: 0 2rem;
    }

    .card {
        height: 9.5rem;
    }

}

@media screen and (min-width: 1024px) {
    body {
        background: url(../images/desktop-bg.svg);
        background-repeat: repeat;
        background-color: white;
        transition: background-color 0.4s ease-in-out;
        -moz-transition: background-color 0.4s ease-in-out;
        -webkit-transition: background-color 0.4s ease-in-out;
    }

    main {
        overflow: hidden;
    }
}