@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.cdnfonts.com/css/dm-sans');

:root {
    --orange: #ff6300;
    --orange-invert: #009cff;
    --light-orange: #ff883c;
    --neon-green: #e4ff5e;
    --neon-green-invert: #1b00a1;
    --yellow: #ffaf42;
    --yellow-invert: #0050bd;
    --white: #fff;
    --black: #000000;
    --sans-serif-1: 'Michroma', sans-serif;
    --sans-serif-2: 'DM Sans', sans-serif;
}

::selection {
    background: var(--yellow);
}

/* Typography */

* {
    line-height: 1.5;
}

h1,
h2,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h6 {
    font-family: var(--sans-serif-1);
    /* margin-bottom: 0.5rem; */
}

h3,
.h5,
p,
.p {
    font-family: var(--sans-serif-2);
}

h1,
.h1 {
    font-size: 12vmin;
    font-weight: 800;
}

h2,
.h2 {
    font-size: 1.5rem;
}

h3,
.h3 {
    font-size: 1.3rem;
}

h4,
.h4 {
    font-size: 1.333rem;
}

h5,
.h5 {
    font-size: 1.3rem;
    font-weight: 300;
}

h6,
.h6 {
    font-size: 1rem
}

p,
.p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.7;
}

a {
    text-decoration: none;
    color: var(--black);
}

/* Layout */


body {
    background: url(../images/mobile-bg.svg);
    background-repeat: repeat;
    background-color: white;
    transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    -webkit-transition: background-color 0.4s ease-in-out;

}

body.--bg-change {
    background-color: var(--black);
}

.no-scroll {
    overflow: hidden;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
}

section {
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1rem;
}

.flex {
    display: flex;
}

.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
}

.col-5 {
    grid-column: span 5;
}

.col-6 {
    grid-column: span 6;
}

.col-7 {
    grid-column: span 7;
}

.col-8 {
    grid-column: span 8;
}

.col-9 {
    grid-column: span 9;
}

.col-10 {
    grid-column: span 10;
}

.col-11 {
    grid-column: span 11;
}

.col-12 {
    grid-column: span 12;
}

/* Helper classes */
.align-center {
    align-items: center;
}

.mx-auto {
    margin: 0 auto;
}

.ml-auto {
    margin-left: auto;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-grow {
    flex-grow: 1;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.justify-evenly {
    justify-content: space-evenly;
}

.justify-around {
    justify-content: space-around;
}

.align-end {
    align-items: flex-end;
}

.align-self {
    align-self: center;
}

.w-100 {
    width: 100vw;
}

.h-100 {
    height: 100vh;
}

.z-index {
    z-index: 2;
    position: relative;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.mt-3 {
    margin-top: 3rem;
}

.mt-6 {
    margin-top: 6rem;
}

.my-1 {
    margin: 1rem 0;
}

.pt-3 {
    padding-top: 3rem;
}



.border-radius {
    border-top-right-radius: 3rem;
    border-top-left-radius: 3rem;
    border: 1px solid var(--black);
    border-bottom: unset;
}

.mix-blend-mod {
    mix-blend-mode: difference;
}

.text-reveal {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 4.5rem;

}

.text-reveal span {
    mix-blend-mode: difference;
    color: white;
    pointer-events: none;
    position: absolute;
    z-index: 2;
}

/* Components */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.5rem;
    height: 5.5rem;
    background-color: var(--white);
    box-shadow: 2px 6px 0px 0px #000000;
    border-radius: 18rem;
    border: black 2px solid;
}

.button-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 4px 0px 0px #FD5602;
    width: 3.125rem;
    height: 3.125rem;
    border: 1px solid #000000;
    border-radius: 50%;
    text-decoration: none;
    color: var(--black);
}

.button-sm i {
    font-size: 1.5rem;
}

.button-sm:hover,
.button-sm:active {
    transform: translate(2px, 4px);
    box-shadow: unset;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 1rem;
    margin: 0 auto 1rem auto;
    font-family: var(--sans-serif-1);
    box-shadow: 2px 4px 0px 0px var(--black);
    background-color: var(--white);
    border-radius: 18rem;
    text-align: center;
}

@media screen and (min-width: 576px) {

    .col-1-sm {
        grid-column: span 1;
    }

    .col-2-sm {
        grid-column: span 2;
    }

    .col-3-sm {
        grid-column: span 3;
    }

    .col-4-sm {
        grid-column: span 4;
    }

    .col-5-sm {
        grid-column: span 5;
    }

    .col-6-sm {
        grid-column: span 6;
    }

    .col-7-sm {
        grid-column: span 7;
    }

    .col-8-sm {
        grid-column: span 8;
    }

    .col-9-sm {
        grid-column: span 9;
    }

    .col-10-sm {
        grid-column: span 10;
    }

    .col-11-sm {
        grid-column: span 11;
    }

    .col-12-sm {
        grid-column: span 12;
    }

    h1 {
        font-size: 11vmin;
    }

    h2,
    .h2 {
        font-size: 2.2rem;
    }

    h3,
    .h3 {
        font-size: 2rem;
    }

    h4,
    .h4 {
        font-size: 1.777rem;
    }

    h5,
    .h5 {
        font-size: 1.5rem;
        font-weight: 300;
    }

    h6,
    .h6 {
        font-size: 1.2rem
    }

    p,
    .p {
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.7;
    }


    .container {
        padding: 0 2rem;
    }

    /* Components */
    .button {
        width: 16.5rem;
        height: 7.5rem;
    }

    .title {
        padding: 2rem 3rem;
    }

    .card {
        height: 9.5rem;
    }

}

@media screen and (max-height: 600px) {

    h2,
    .h2 {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 768px) {

    .col-1-md {
        grid-column: span 1;
    }

    .col-2-md {
        grid-column: span 2;
    }

    .col-3-md {
        grid-column: span 3;
    }

    .col-4-md {
        grid-column: span 4;
    }

    .col-5-md {
        grid-column: span 5;
    }

    .col-6-md {
        grid-column: span 6;
    }

    .col-7-md {
        grid-column: span 7;
    }

    .col-8-md {
        grid-column: span 8;
    }

    .col-9-md {
        grid-column: span 9;
    }

    .col-10-md {
        grid-column: span 10;
    }

    .col-11-md {
        grid-column: span 11;
    }

    .col-12-md {
        grid-column: span 12;
    }

    h1,
    .h1 {
        font-size: 4.5rem;
    }

    h2,
    .h2 {
        font-size: 2.5rem;
    }

    /* v */
    h3,
    .h3 {
        font-size: 2rem;
    }

    /* v */
    h4,
    .h4 {
        font-size: 2rem;
    }

    h5,
    .h5 {
        font-size: 1.8rem;
        font-weight: 300;
    }

    h6,
    .h6 {
        font-size: 1.5rem
    }

    p,
    .p {
        font-size: 1.5rem;
        font-weight: 300;
        line-height: 1.7;
    }

    .container {
        padding: 0 3rem;
    }



    /* Components */
    .button {
        width: 19.5rem;
        height: 9.5rem;
    }

    .card {
        height: 9.5rem;
    }

}

@media screen and (min-width: 1024px) {
    .col-1-lg {
        grid-column: span 1;
    }

    .col-2-lg {
        grid-column: span 2;
    }

    .col-3-lg {
        grid-column: span 3;
    }

    .col-4-lg {
        grid-column: span 4;
    }

    .col-5-lg {
        grid-column: span 5;
    }

    .col-6-lg {
        grid-column: span 6;
    }

    .col-7-lg {
        grid-column: span 7;
    }

    .col-8-lg {
        grid-column: span 8;
    }

    .col-9-lg {
        grid-column: span 9;
    }

    .col-10-lg {
        grid-column: span 10;
    }

    .col-11-lg {
        grid-column: span 11;
    }

    .col-12-lg {
        grid-column: span 12;
    }

    .col-2-2-lg {
        grid-column: 2 /span 2;
    }

    .col-2-3-lg {
        grid-column: 2 /span 3;
    }

    .col-2-10-lg {
        grid-column: 2 /span 10;
    }

    body {
        background: url(../images/desktop-bg.svg);
        background-repeat: repeat;
        background-color: white;
        transition: background-color 0.4s ease-in-out;
        -moz-transition: background-color 0.4s ease-in-out;
        -webkit-transition: background-color 0.4s ease-in-out;
    }

    main {
        overflow: hidden;
    }

    h1,
    .h1 {
        font-size: 5.5rem;
    }

    h5,
    .h5 {
        font-size: 2rem;
    }

    h6,
    .h6 {
        font-size: 1.7rem
    }

    p,
    .p {
        font-size: 1.7rem;
    }

    .container {
        padding: 0 4rem;
    }
}