@use '../abstracts' as *;

:root {
    --bodyColor: "#fcf8f4";
}

body {
    height: 100%;
    background: var(--bodyColor);
    transition: background ease-in 300ms;
    font-family: $font-inter;
    line-height: 1.5;
    position: relative;
    scroll-behavior: smooth;
}


.wrapper {
    padding: 0 .5rem;
    margin: 0 auto;

    @include mq(large) {
        padding: 0 1rem;
    }
}  

a {
    text-decoration: none;
    color: $color-primary-dark;
}

.flex {
    display: flex;
}

.lignt {
    background: $color-primary-light !important;
}

.dark {
    background: $color-primary-dark !important;
}

.white {
    background: $color-secondary-white !important;
}

.banner img {
    max-width: 90%;
    height: 100%;


}